<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>NTFSKit Module</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.fskit.fsmodule</string>
		<key>FSName</key>
		<string>NTFSKit</string>
		<key>FSShortName</key>
		<string>ntfskit</string>
		<key>FSSupportsBlockResources</key>
		<true/>
		<key>FSSupportsKernelOffloadedIO</key>
		<true/>
		<key>FSSupportsGenericURLResources</key>
		<false/>
		<key>FSSupportsPathURLs</key>
		<false/>
		<key>FSSupportsServerURLs</key>
		<false/>
		<key>FSRequiresSecurityScopedPathURLResources</key>
		<false/>
		<key>FSFormatOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>v:</string>
		</dict>
		<key>FSActivateOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>o:</string>
		</dict>
		<key>FSCheckOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>nqy</string>
		</dict>
		<key>FSPersonalities</key>
		<dict>
			<key>NTFSKit</key>
			<dict>
				<key>FSName</key>
				<string>NTFSKit (NTFS)</string>
			</dict>
		</dict>
		<key>FSMediaTypes</key>
		<dict>
			<key>Windows_NTFS</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Content Hint</key>
					<string>Windows_NTFS</string>
					<key>Leaf</key>
					<true/>
				</dict>
				<key>FSProbeOrder</key>
				<integer>900</integer>
			</dict>
			<key>EBD0A0A2-B9E5-4433-87C0-68B6B72699C7</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Content Hint</key>
					<string>EBD0A0A2-B9E5-4433-87C0-68B6B72699C7</string>
					<key>Leaf</key>
					<true/>
				</dict>
				<key>FSProbeOrder</key>
				<integer>1900</integer>
			</dict>
			<key>Partitionless</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Leaf</key>
					<true/>
					<key>Whole</key>
					<true/>
				</dict>
				<key>FSProbeOrder</key>
				<integer>3900</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
